{% include 'admin-panel/header.html' %}

        <!-- Content wrapper scroll start -->
        <div class="content-wrapper-scroll">

          <!-- Content wrapper start -->
          <div class="content-wrapper">

            <!-- Row start -->
            <div class="row">
              <div class="col-sm-12 col-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Add Product Type</div>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                      {% csrf_token %}
                      {% for message in messages %}
                      <div class="alert alert-primary">
                        {{ message }}
                      </div>
                      {% endfor %}
                    <div class="row">
                      <div class="col-sm-12 col-12">
                        <div class="card-border">
                          <div class="card-border-title">Add Product Type</div>
                          <div class="card-border-body">

                            <div class="row">
                              <div class="col-sm-6 col-12">
                                <div class="mb-3">
                                  <label class="form-label">Product Type <span class="text-red">*</span></label>
                                  <input type="text" name="product-type" class="form-control" placeholder="Enter Product Type">
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-12">
                        <div class="custom-btn-group flex-end">
                          <button type="button" class="btn btn-light">Cancel</button>
                          <input type="submit" class="btn btn-success">
                        </div>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row end -->

            {% include 'admin-panel/footer.html' %}